.AppGrid_2 {
    grid-area: grid_2;
    background-color: #BEB19B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    font-size: 20px;
}
.catalog{
    text-decoration: none;
}